.call
  background: url("../img/bg_call.jpg") no-repeat center/cover
  margin-top: 167px
  color: #ffffff
  padding-top: 77px
  text-align: center
  padding-bottom: 79px
  +md-block
    padding-bottom: 96px
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    +to(1290px)
      justify-content: center
      position: relative

  &__title
    color: #ffffff
  &__text
    padding: 17px 138px 17px 41px
    font-family: $ff-medium
    border: none
    &[name='name']
      margin-right: 22px
    +to(1080px)
      +size(6)
      margin: 0 auto 20px auto !important

  &__wrap
    margin-top: 94px
    font-size: 1.3rem
    +to(1080px)
      margin-top: 0
  &__submit
    color: #ffffff
    text-transform: uppercase
    border: none
    padding: 1.05rem 1.5rem
    margin-left: 30px
    font-size: 1.2rem
    font-family: $ff-medium
    background: #00bfff
    background: -moz-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%)
    background: -webkit-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%)
    background: linear-gradient(to right, #00bfff 0%, #2989d8 45%, #0080ff 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#0080ff',GradientType=1 )
    +to(1290px)
      margin: 0 auto
      margin-top: 9.5rem
      +size(5)
    +to(500px)
      +size(12)
  &__box
    margin-top: 50px
    //+md-block
    +to(1290px)
      position: absolute
      left: 12%
      top: 21%
    +to(1080px)
      //left: 5rem
      top: 9rem
      +size(10)
    input
      width: 1.5rem
      height: 1.5rem
  &__privacy
    vertical-align: middle
