.comments
  text-align: center
  margin: 103px 0 129px 0
  .container
    position: relative
  &__text
    width: 69%
    margin: 34px auto 0 auto
    line-height: 1.7rem
    font-family: $ff-italic
    +to(860px)
      +size(12)
      text-align: justify
  &__title
    margin-bottom: 60px
  &__description
    margin-top: 15px
    font-size: 1.2rem

    h5
      font-family: $ff-medium
      font-size: 1.3rem
      line-height: 1rem
  &__arrow
    position: absolute
    top: 50%
    border: none
    &s
      .owl-prev
        background: url("../img/left_arr.png") center/cover
        left: 3.5rem
        position: absolute
        top: 50%
        border: none
        width: 1.8rem
        height: 3.5rem
        span
          display: none
        +to(860px)
          left: 1.5rem
          top: 6%
          width: 1rem
          height: 2.1rem
      .owl-next
        background: url("../img/right_arr.png") center/cover
        right: 3.5rem
        position: absolute
        top: 50%
        border: none
        width: 1.5rem
        height: 3.5rem
        span
          display: none
        +to(860px)
          right: 1.5rem
          top: 6%
          width: 1rem
          height: 2.1rem
  &__item
    img
      display: initial
      width: initial
.owl-carousel
  .owl-dot
    width: 0.8rem
    height: 0.8rem
    margin-right: 0.6rem
    border-radius: 50%
    border: 1px solid #D4D4D4
    display: inline-block
    &.active
      background: #00A4EF
    &s
      margin-top: 30px



