.footer
  margin-bottom: 50px
  &__border
    height: 3px
    background: #00bfff
    background: -moz-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%)
    background: -webkit-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%)
    background: linear-gradient(to right, #00bfff 0%, #2989d8 45%, #0080ff 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#0080ff',GradientType=1 )
    bg
  &__top
    padding-top: 50px
    display: flex
    justify-content: space-between
    margin-bottom: 50px
    position: relative
    +to(860px)
      flex-direction: column
      align-items: center
  &__nav
    width: 45%
    align-self: flex-start
    +to(860px)
      align-self: center
      width: auto
    .nav
      display: flex
      justify-content: flex-end
      margin-right: 0
      font-family: $ff-medium
      &__item
        padding: 0 23px
        +to(860px)
          margin-bottom: 20px
      +to(860px)
        flex-direction: column
    a:last-child
      padding-right: 0
  &__bottom
    display: flex
    justify-content: space-between
    align-items: flex-end
    +to(860px)
      flex-direction: column
      align-items: center
  &__item
    margin-bottom: 15px
    font-family: $ff-medium
  &__left
    align-self: stretch
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: space-between
    +to(860px)
      align-self: center
  &__right
    width: 38%
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__link
    font-size: 1.7rem
    margin-left: 10px
  &__logo
    font-size: 1.2rem
    span
      display: inline-block
      vertical-align: bottom
      text-transform: uppercase
      font-family: $ff-black
  &__phone
    font-family: $ff-medium
    position: absolute
    left: 0
    bottom: -30px
    +to(860px)
      position: initial
      margin: 40px 0
  &__links
    +to(860px)
      margin-top: 50px

.devsite
  img
    +to(860px)
      position: absolute
      left: 50%
      transform: translateX(-50%)
      margin-top: 30px