.header
  background: url("../img/header_bg.jpg") no-repeat center top/cover
  padding-top: 38px
  font-family: $ff-medium
  font-size: 1.3rem
  color: #ffffff
  padding-bottom: 150px
  +lg-block
    margin-bottom: 43rem
    position: relative
  +to(980px)
    margin-bottom: 35rem
  +to(500px)
    margin-bottom: 28rem

  &__top
    text-transform: uppercase
    padding-bottom: 80px
    display: flex
    //justify-content: space-between
    font-size: 1rem
    letter-spacing: 0.2rem

  &__logo
    background: url("../img/logo.png") no-repeat 0 center
    padding-left: 30px
    position: relative
    span
      margin-left: 68px
      position: absolute
      top: 0
      +md-block
        margin-left: 0
        left: 33px
        bottom: -32px
        top: auto
  &__phone
    letter-spacing: 0.07rem
    margin-left: auto
    margin-right: 10px
    +to(970px)
      flex-grow: 1
      order: 1
    span
      +to(970px)
        display: none
    &-icon
      +to(970px)
        background: url("../img/phone.png")
        width: 27px
        height: 27px
        margin-right: 0
        margin-left: auto
  &__bottom
    display: flex
    justify-content: space-between
    position: relative
    //+lg-block
      text-align: center
  &__title
    color: #ffffff
    width: 40%
    text-align: left
    +lg-block
      margin: 0 auto 100px
      text-align: center
      +size(12)

  &__nav
    margin-left: auto
    +to(970px)
      order: 2
      display: inline-block
      &-icon
        background: url("../img/icmenu.png")
        width: 29px
        height: 24px
    .nav
      +to(970px)
        //margin-left: auto
        margin-right: 11px
        display: none
  &__slider
    max-width: 45%
    +lg-block
      position: absolute
      top: 142%
      padding-top: 80px
      left: 50%
      transform: translateX(-50%)
      max-width: 85%
  &__button
    border-radius: 5px
    text-transform: uppercase
    border: none
    padding: 1.05rem 2.2rem
    cursor: pointer
    font-family: $ff-black
    color: #ffffff
    margin-top: 43px
    font-size: 1.2rem
    margin-bottom: 100px
    background: #00c3ff
    background: -moz-linear-gradient(left, #00c3ff 1%, #0081ff 100%)
    background: -webkit-linear-gradient(left, #00c3ff 1%,#0081ff 100%)
    background: linear-gradient(to right, #00c3ff 1%,#0081ff 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3ff', endColorstr='#0081ff',GradientType=1 )
    position: absolute
    left: 0
    +lg-block
      position: absolute
      left: 50%
      transform: translateX(-50%)
    +to(500px)
      width: 100%
      position: initial
      transform: none

.arrow
  position: relative
  color: #ffffff
  +lg-block
    position: initial
  &__left
    right: 2.21rem
    width: 1.9rem
    height: 1.9rem
    border-radius: 50%
    border: 2px solid #ffffff
    text-align: center
    box-sizing: border-box
    font-size: 0.9rem
    position: absolute
    +lg-block
      background: url("../img/left_arr.png") center/cover
      left: -1.8rem
  &__right
    right: 0
    position: absolute
    width: 1.9rem
    height: 1.9rem
    border-radius: 50%
    border: 2px solid #ffffff
    text-align: center
    box-sizing: border-box
    font-size: 0.9rem
    +lg-block
      background: url("../img/right_arr.png") center/cover
      right: -1.8rem
  &__button
    top: 50%
    background-color: transparent
    color: #ffffff
    +lg-block
      width: 1.3rem
      height: 1.7rem
.slider
  &__container
    +lg-block
      position: relative
    &.slick-dotted
      margin-bottom: 15px
  &__item
    //width: 900px
    img
      width: 100%

.dots
  +lg-block
    text-align: center
  li
    display: inline-block
    &.slick-active
      button
        background-color: #0080FF

    button
      width: 0.62rem
      height: 0.62rem
      //line-height: 0
      font-size: 0
      background: transparent
      border: 1px solid #d8d7d7
      border-radius: 50%
      padding: 0
      margin-right: 0.9rem
      &:hover
        background-color: #0080FF

      &:before
        content: ''
        
.slick-dots
  position: initial
  text-align: left
  li
    width: 0.4rem
    height: 0.4rem
    margin: 0 0.3rem
  +lg-block
    text-align: center