.hero
  margin-top: 87px
  &__top
    display: flex
    justify-content: space-between
    +to(970px)
      flex-wrap: wrap
  &__content
    width: 41%
    +to(970px)
      +size(12)
      text-align: justify
      margin: 0 auto
      margin-bottom: 40px

  &__title
    text-align: left
    font-size: 38px
    margin-top: -9px
    +to(970px)
      font-size: 30px
      text-align: center
  &__author
    text-align: right
    margin-top: 56px
    color: #000
    font-family: $ff-medium
    span
      font-family: $ff-italic
  &__pic
    width: 55%
    +to(970px)
      order: 1
      +size(11)
      margin: 0 auto
    img
      width: 100%
  &__list
    margin-top: 112px
    display: block
    text-align: center
  &__item
    //position: relative
    //+to(860px)
      display: block
      text-align: center
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 58px
    +to(860px)
      display: flex
      flex-direction: column
      justify-content: space-around
  &__article
    width: 47%
    font-size: 1.3rem
    margin-right: auto
    margin-left: 40px
    +to(860px)
      width: 98%
      order: 1
      margin: 0 auto
      margin-top: 2.5rem
      text-align: justify
    h3
      color: #000
      margin-bottom: 20px
      font-size: 1.6rem
      font-family: $ff-medium
      line-height: 1.3rem
      +to(860px)
        text-align: center
      &:after
        content: ''
        display: block
        border: 2px solid #13C1FF
        margin: 0 auto
        margin-top: 20px
        width: 3.13rem
        +to(860px)
          margin: 0 auto
          border: 1px solid #13C1FF
          margin-top: 1.8rem
          //text-align: center
  &__capabilities
    +to(860px)
      width: 85%
      margin: 0 auto
      position: relative
  &__img
    +to(860px)
      display: none
  &__icon-wrap
    +to(860px)
      height: 270px

.icon
  position: relative
  text-align: center
  +to(860px)
    margin: 0 auto
    margin-top: 30px

  &1
    @include sprite($icon-cap1)
  &2
    @include sprite($icon-cap2)
  &3
    @include sprite($icon-cap3)
  &__text
    position: absolute
    top: 50%
    left: 50%
    width: 50%
    transform: translate(-50%, -50%)
    color: #ffffff
    span
      font-family: $ff-main
      text-align: left
      display: block
      padding-left: 20px
      +to(860px)
        text-align: center
        padding-left: 0
  &__number
    font-size: 4rem
    font-family: $ff-black
+to(860px)
  .hero__arrow
    .owl
      &-prev
        background: url("../img/left_arr.png") center/cover
        width: 1.3rem
        height: 2.4rem
        border: none
        position: absolute
        top: 35%
        left: 0

        span
          display: none
      &-next
        top: 35%
        right: 0
        left: auto
        position: absolute
        border: none
        background: url("../img/right_arr.png") center/cover
        width: 1.3rem
        height: 2.4rem
        span
          display: none
  .hero__dots
    margin: 0 auto
    display: inline-block
    .owl-dot
      width: 0.6rem !important
      height: 0.6rem !important
