.nav
  letter-spacing: 0.1rem
  &__item
    padding: 15px 21px
    box-sizing: border-box
    border: 2px solid transparent
    &:hover
      border-color: #fff
      border-radius: 30px/50%

    &:last-child
      margin-right: 0
