.services
  padding-top: 100px
  +md-block
    padding-top: 85px
  +to(860px)
    padding-top: 0
  &__title
    text-align: center
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 67px

  &__item
    width: 49%
    position: relative
    box-sizing: border-box
    margin-bottom: 27px
    &:not(:first-child)
      +to(970px)
        display: none
    &:first-child
      +to(970px)
        margin: 0 auto
        +size(11)
    img
      width: 100%
  &__text
    width: 90%
    text-align: left
    padding-left: 3.5rem
    margin: 0 auto
    position: absolute
    color: #ffffff
    top: 55%
    +to(560px)
      width: 90%
      padding: 0 1.5rem
      box-sizing: border-box
      position: absolute
      color: #ffffff
      top: 14%
      left: 50%
      transform: translateX(-50%)
      font-size: 14px
      opacity: 0.6
      text-align: justify
    h3
      margin-bottom: 17px
      font-family: $ff-medium