.title
  text-align: center
  color: #000
  font-size: 32px
  font-family: $ff-black
  margin-bottom: 45px
  text-transform: uppercase
  &__text
    font-size: 1.1rem
    font-family: $ff-medium
    text-transform: none
  &__head
    line-height: 2.5rem
    margin-bottom: 40px

