.works
  margin-top: 106px
  &__content
    display: flex
    justify-content: space-between
    margin-top: 65px
    +to(860px)
      flex-wrap: wrap
      justify-content: center
  &__left
    position: relative
    width: 50%
    +to(860px)
      width: 90%
      margin-bottom: 80px

.arrows
  position: absolute
  right: 0
.project
  &__arrow
    color: #ffffff
    background-color: #0096FF
    border: 1px solid #00BCFF
    padding: 13px 35px 13px 28px
    position: relative
    cursor: pointer
    top: -3px

    &:hover
      background-color: lighten(#0096FF, 7%)
  &__list
    //width: 570px
    &.slick-slider
      margin-bottom: 0
  &__pic
    width: 100%

  &__prev
    padding-left: 41px
    text-align: left
    +to(500px)
      padding: 13px 13px 13px 28px
      padding-left: 39px
    i
      position: absolute
      left: 17px
      font-size: 1.5rem
      transform: translateY(-50%)
  &__next
    padding-right: 46px
    text-align: right
    i
      transform: translateY(-50%)
      font-size: 1.5rem
      position: absolute
      right: 17px
.proposal
  color: #000
  display: inline-block
  font-family: $ff-medium
  margin-left: 50px
  margin-top: 20px
  border-bottom: 1px solid #000
  position: absolute
  +to(1060px)
    display: none

.price
  width: 48.7%
  color: #ffffff
  padding: 30px 20px
  box-sizing: border-box
  background: url("../img/project_bg.png")no-repeat left top/cover
  +to(960px)
    width: 90%
  &__title
    //margin-bottom: 250px
  &__head
    margin-bottom: 10px
.estimate__item
  margin-bottom: 10px