@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'italic';
  src: url("../fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic.otf") format("otf");
}

@font-face {
  font-family: 'medium';
  src: url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.otf") format("otf");
}

@font-face {
  font-family: "black";
  src: url("../fonts/GothamPro/GothamPro-Black?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.otf") format("otf");
}

@font-face {
  font-family: 'regular';
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.otf") format("otf");
}

html {
  font-size: 16px;
}

body {
  font-family: "regular", Ariel, sans-serif;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .container {
    width: calc(100% - 30px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.title {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-family: "black", Ariel, sans-serif;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.title__text {
  font-size: 1.1rem;
  font-family: "medium", Ariel, sans-serif;
  text-transform: none;
}

.title__head {
  line-height: 2.5rem;
  margin-bottom: 40px;
}

.header {
  background: url("../img/header_bg.jpg") no-repeat center top/cover;
  padding-top: 38px;
  font-family: "medium", Ariel, sans-serif;
  font-size: 1.3rem;
  color: #ffffff;
  padding-bottom: 150px;
}

@media screen and (max-width: 1100px) {
  .header {
    margin-bottom: 43rem;
    position: relative;
  }
}

@media screen and (max-width: 980px) {
  .header {
    margin-bottom: 35rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin-bottom: 28rem;
  }
}

.header__top {
  text-transform: uppercase;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.header__logo {
  background: url("../img/logo.png") no-repeat 0 center;
  padding-left: 30px;
  position: relative;
}

.header__logo span {
  margin-left: 68px;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 960px) {
  .header__logo span {
    margin-left: 0;
    left: 33px;
    bottom: -32px;
    top: auto;
  }
}

.header__phone {
  letter-spacing: 0.07rem;
  margin-left: auto;
  margin-right: 10px;
}

@media screen and (max-width: 970px) {
  .header__phone {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 970px) {
  .header__phone span {
    display: none;
  }
}

@media screen and (max-width: 970px) {
  .header__phone-icon {
    background: url("../img/phone.png");
    width: 27px;
    height: 27px;
    margin-right: 0;
    margin-left: auto;
  }
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__title {
  color: #ffffff;
  width: 40%;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .header__title {
    margin: 0 auto 100px;
    text-align: center;
    width: calc(100% - 30px);
  }
}

.header__nav {
  margin-left: auto;
}

@media screen and (max-width: 970px) {
  .header__nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: inline-block;
  }
  .header__nav-icon {
    background: url("../img/icmenu.png");
    width: 29px;
    height: 24px;
  }
}

@media screen and (max-width: 970px) {
  .header__nav .nav {
    margin-right: 11px;
    display: none;
  }
}

.header__slider {
  max-width: 45%;
}

@media screen and (max-width: 1100px) {
  .header__slider {
    position: absolute;
    top: 142%;
    padding-top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 85%;
  }
}

.header__button {
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  padding: 1.05rem 2.2rem;
  cursor: pointer;
  font-family: "black", Ariel, sans-serif;
  color: #ffffff;
  margin-top: 43px;
  font-size: 1.2rem;
  margin-bottom: 100px;
  background: #00c3ff;
  background: -webkit-linear-gradient(left, #00c3ff 1%, #0081ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #00c3ff), to(#0081ff));
  background: -o-linear-gradient(left, #00c3ff 1%, #0081ff 100%);
  background: linear-gradient(to right, #00c3ff 1%, #0081ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3ff', endColorstr='#0081ff',GradientType=1 );
  position: absolute;
  left: 0;
}

@media screen and (max-width: 1100px) {
  .header__button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 500px) {
  .header__button {
    width: 100%;
    position: initial;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.arrow {
  position: relative;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .arrow {
    position: initial;
  }
}

.arrow__left {
  right: 2.21rem;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
  position: absolute;
}

@media screen and (max-width: 1100px) {
  .arrow__left {
    background: url("../img/left_arr.png") center/cover;
    left: -1.8rem;
  }
}

.arrow__right {
  right: 0;
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
}

@media screen and (max-width: 1100px) {
  .arrow__right {
    background: url("../img/right_arr.png") center/cover;
    right: -1.8rem;
  }
}

.arrow__button {
  top: 50%;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .arrow__button {
    width: 1.3rem;
    height: 1.7rem;
  }
}

@media screen and (max-width: 1100px) {
  .slider__container {
    position: relative;
  }
}

.slider__container.slick-dotted {
  margin-bottom: 15px;
}

.slider__item img {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .dots {
    text-align: center;
  }
}

.dots li {
  display: inline-block;
}

.dots li.slick-active button {
  background-color: #0080FF;
}

.dots li button {
  width: 0.62rem;
  height: 0.62rem;
  font-size: 0;
  background: transparent;
  border: 1px solid #d8d7d7;
  border-radius: 50%;
  padding: 0;
  margin-right: 0.9rem;
}

.dots li button:hover {
  background-color: #0080FF;
}

.dots li button:before {
  content: '';
}

.slick-dots {
  position: initial;
  text-align: left;
}

.slick-dots li {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.3rem;
}

@media screen and (max-width: 1100px) {
  .slick-dots {
    text-align: center;
  }
}

.nav {
  letter-spacing: 0.1rem;
}

.nav__item {
  padding: 15px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
}

.nav__item:hover {
  border-color: #fff;
  border-radius: 30px/50%;
}

.nav__item:last-child {
  margin-right: 0;
}

.services {
  padding-top: 100px;
}

@media screen and (max-width: 960px) {
  .services {
    padding-top: 85px;
  }
}

@media screen and (max-width: 860px) {
  .services {
    padding-top: 0;
  }
}

.services__title {
  text-align: center;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 67px;
}

.services__item {
  width: 49%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 27px;
}

@media screen and (max-width: 970px) {
  .services__item:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width: 970px) {
  .services__item:first-child {
    margin: 0 auto;
    width: calc(91.66667% - 30px);
  }
}

.services__item img {
  width: 100%;
}

.services__text {
  width: 90%;
  text-align: left;
  padding-left: 3.5rem;
  margin: 0 auto;
  position: absolute;
  color: #ffffff;
  top: 55%;
}

@media screen and (max-width: 560px) {
  .services__text {
    width: 90%;
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    color: #ffffff;
    top: 14%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 14px;
    opacity: 0.6;
    text-align: justify;
  }
}

.services__text h3 {
  margin-bottom: 17px;
  font-family: "medium", Ariel, sans-serif;
}

.hero {
  margin-top: 87px;
}

.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 970px) {
  .hero__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero__content {
  width: 41%;
}

@media screen and (max-width: 970px) {
  .hero__content {
    width: calc(100% - 30px);
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.hero__title {
  text-align: left;
  font-size: 38px;
  margin-top: -9px;
}

@media screen and (max-width: 970px) {
  .hero__title {
    font-size: 30px;
    text-align: center;
  }
}

.hero__author {
  text-align: right;
  margin-top: 56px;
  color: #000;
  font-family: "medium", Ariel, sans-serif;
}

.hero__author span {
  font-family: "italic", Ariel, sans-serif;
}

.hero__pic {
  width: 55%;
}

@media screen and (max-width: 970px) {
  .hero__pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: calc(91.66667% - 30px);
    margin: 0 auto;
  }
}

.hero__pic img {
  width: 100%;
}

.hero__list {
  margin-top: 112px;
  display: block;
  text-align: center;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 58px;
}

@media screen and (max-width: 860px) {
  .hero__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.hero__article {
  width: 47%;
  font-size: 1.3rem;
  margin-right: auto;
  margin-left: 40px;
}

@media screen and (max-width: 860px) {
  .hero__article {
    width: 98%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
    margin-top: 2.5rem;
    text-align: justify;
  }
}

.hero__article h3 {
  color: #000;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-family: "medium", Ariel, sans-serif;
  line-height: 1.3rem;
}

@media screen and (max-width: 860px) {
  .hero__article h3 {
    text-align: center;
  }
}

.hero__article h3:after {
  content: '';
  display: block;
  border: 2px solid #13C1FF;
  margin: 0 auto;
  margin-top: 20px;
  width: 3.13rem;
}

@media screen and (max-width: 860px) {
  .hero__article h3:after {
    margin: 0 auto;
    border: 1px solid #13C1FF;
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 860px) {
  .hero__capabilities {
    width: 85%;
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (max-width: 860px) {
  .hero__img {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .hero__icon-wrap {
    height: 270px;
  }
}

.icon {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .icon {
    margin: 0 auto;
    margin-top: 30px;
  }
}

.icon1 {
  background-image: url(../img/sprite.png);
  background-position: -240px 0px;
  width: 269px;
  height: 207px;
}

.icon2 {
  background-image: url(../img/sprite.png);
  background-position: 0px -245px;
  width: 242px;
  height: 202px;
}

.icon3 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 240px;
  height: 245px;
}

.icon__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

.icon__text span {
  font-family: "regular", Ariel, sans-serif;
  text-align: left;
  display: block;
  padding-left: 20px;
}

@media screen and (max-width: 860px) {
  .icon__text span {
    text-align: center;
    padding-left: 0;
  }
}

.icon__number {
  font-size: 4rem;
  font-family: "black", Ariel, sans-serif;
}

@media screen and (max-width: 860px) {
  .hero__arrow .owl-prev {
    background: url("../img/left_arr.png") center/cover;
    width: 1.3rem;
    height: 2.4rem;
    border: none;
    position: absolute;
    top: 35%;
    left: 0;
  }
  .hero__arrow .owl-prev span {
    display: none;
  }
  .hero__arrow .owl-next {
    top: 35%;
    right: 0;
    left: auto;
    position: absolute;
    border: none;
    background: url("../img/right_arr.png") center/cover;
    width: 1.3rem;
    height: 2.4rem;
  }
  .hero__arrow .owl-next span {
    display: none;
  }
  .hero__dots {
    margin: 0 auto;
    display: inline-block;
  }
  .hero__dots .owl-dot {
    width: 0.6rem !important;
    height: 0.6rem !important;
  }
}

.works {
  margin-top: 106px;
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

@media screen and (max-width: 860px) {
  .works__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.works__left {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 860px) {
  .works__left {
    width: 90%;
    margin-bottom: 80px;
  }
}

.arrows {
  position: absolute;
  right: 0;
}

.project__arrow {
  color: #ffffff;
  background-color: #0096FF;
  border: 1px solid #00BCFF;
  padding: 13px 35px 13px 28px;
  position: relative;
  cursor: pointer;
  top: -3px;
}

.project__arrow:hover {
  background-color: #24a5ff;
}

.project__list.slick-slider {
  margin-bottom: 0;
}

.project__pic {
  width: 100%;
}

.project__prev {
  padding-left: 41px;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .project__prev {
    padding: 13px 13px 13px 28px;
    padding-left: 39px;
  }
}

.project__prev i {
  position: absolute;
  left: 17px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.project__next {
  padding-right: 46px;
  text-align: right;
}

.project__next i {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  position: absolute;
  right: 17px;
}

.proposal {
  color: #000;
  display: inline-block;
  font-family: "medium", Ariel, sans-serif;
  margin-left: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #000;
  position: absolute;
}

@media screen and (max-width: 1060px) {
  .proposal {
    display: none;
  }
}

.price {
  width: 48.7%;
  color: #ffffff;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/project_bg.png") no-repeat left top/cover;
}

@media screen and (max-width: 960px) {
  .price {
    width: 90%;
  }
}

.price__head {
  margin-bottom: 10px;
}

.estimate__item {
  margin-bottom: 10px;
}

.call {
  background: url("../img/bg_call.jpg") no-repeat center/cover;
  margin-top: 167px;
  color: #ffffff;
  padding-top: 77px;
  text-align: center;
  padding-bottom: 79px;
}

@media screen and (max-width: 960px) {
  .call {
    padding-bottom: 96px;
  }
}

.call__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1290px) {
  .call__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.call__title {
  color: #ffffff;
}

.call__text {
  padding: 17px 138px 17px 41px;
  font-family: "medium", Ariel, sans-serif;
  border: none;
}

.call__text[name='name'] {
  margin-right: 22px;
}

@media screen and (max-width: 1080px) {
  .call__text {
    width: calc(50% - 30px);
    margin: 0 auto 20px auto !important;
  }
}

.call__wrap {
  margin-top: 94px;
  font-size: 1.3rem;
}

@media screen and (max-width: 1080px) {
  .call__wrap {
    margin-top: 0;
  }
}

.call__submit {
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 1.05rem 1.5rem;
  margin-left: 30px;
  font-size: 1.2rem;
  font-family: "medium", Ariel, sans-serif;
  background: #00bfff;
  background: -webkit-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%);
  background: -webkit-gradient(linear, left top, right top, from(#00bfff), color-stop(45%, #2989d8), to(#0080ff));
  background: -o-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%);
  background: linear-gradient(to right, #00bfff 0%, #2989d8 45%, #0080ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#0080ff',GradientType=1 );
}

@media screen and (max-width: 1290px) {
  .call__submit {
    margin: 0 auto;
    margin-top: 9.5rem;
    width: calc(41.66667% - 30px);
  }
}

@media screen and (max-width: 500px) {
  .call__submit {
    width: calc(100% - 30px);
  }
}

.call__box {
  margin-top: 50px;
}

@media screen and (max-width: 1290px) {
  .call__box {
    position: absolute;
    left: 12%;
    top: 21%;
  }
}

@media screen and (max-width: 1080px) {
  .call__box {
    top: 9rem;
    width: calc(83.33333% - 30px);
  }
}

.call__box input {
  width: 1.5rem;
  height: 1.5rem;
}

.call__privacy {
  vertical-align: middle;
}

.comments {
  text-align: center;
  margin: 103px 0 129px 0;
}

.comments .container {
  position: relative;
}

.comments__text {
  width: 69%;
  margin: 34px auto 0 auto;
  line-height: 1.7rem;
  font-family: "italic", Ariel, sans-serif;
}

@media screen and (max-width: 860px) {
  .comments__text {
    width: calc(100% - 30px);
    text-align: justify;
  }
}

.comments__title {
  margin-bottom: 60px;
}

.comments__description {
  margin-top: 15px;
  font-size: 1.2rem;
}

.comments__description h5 {
  font-family: "medium", Ariel, sans-serif;
  font-size: 1.3rem;
  line-height: 1rem;
}

.comments__arrow {
  position: absolute;
  top: 50%;
  border: none;
}

.comments__arrows .owl-prev {
  background: url("../img/left_arr.png") center/cover;
  left: 3.5rem;
  position: absolute;
  top: 50%;
  border: none;
  width: 1.8rem;
  height: 3.5rem;
}

.comments__arrows .owl-prev span {
  display: none;
}

@media screen and (max-width: 860px) {
  .comments__arrows .owl-prev {
    left: 1.5rem;
    top: 6%;
    width: 1rem;
    height: 2.1rem;
  }
}

.comments__arrows .owl-next {
  background: url("../img/right_arr.png") center/cover;
  right: 3.5rem;
  position: absolute;
  top: 50%;
  border: none;
  width: 1.5rem;
  height: 3.5rem;
}

.comments__arrows .owl-next span {
  display: none;
}

@media screen and (max-width: 860px) {
  .comments__arrows .owl-next {
    right: 1.5rem;
    top: 6%;
    width: 1rem;
    height: 2.1rem;
  }
}

.comments__item img {
  display: initial;
  width: initial;
}

.owl-carousel .owl-dot {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.6rem;
  border-radius: 50%;
  border: 1px solid #D4D4D4;
  display: inline-block;
}

.owl-carousel .owl-dot.active {
  background: #00A4EF;
}

.owl-carousel .owl-dots {
  margin-top: 30px;
}

.footer {
  margin-bottom: 50px;
}

.footer__border {
  height: 3px;
  background: #00bfff;
  background: -webkit-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%);
  background: -webkit-gradient(linear, left top, right top, from(#00bfff), color-stop(45%, #2989d8), to(#0080ff));
  background: -o-linear-gradient(left, #00bfff 0%, #2989d8 45%, #0080ff 100%);
  background: linear-gradient(to right, #00bfff 0%, #2989d8 45%, #0080ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#0080ff',GradientType=1 );
}

.footer__top {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

@media screen and (max-width: 860px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav {
  width: 45%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 860px) {
  .footer__nav {
    -ms-flex-item-align: center;
        align-self: center;
    width: auto;
  }
}

.footer__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0;
  font-family: "medium", Ariel, sans-serif;
}

.footer__nav .nav__item {
  padding: 0 23px;
}

@media screen and (max-width: 860px) {
  .footer__nav .nav__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 860px) {
  .footer__nav .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__nav a:last-child {
  padding-right: 0;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 860px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__item {
  margin-bottom: 15px;
  font-family: "medium", Ariel, sans-serif;
}

.footer__left {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .footer__left {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.footer__right {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__link {
  font-size: 1.7rem;
  margin-left: 10px;
}

.footer__logo {
  font-size: 1.2rem;
}

.footer__logo span {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  font-family: "black", Ariel, sans-serif;
}

.footer__phone {
  font-family: "medium", Ariel, sans-serif;
  position: absolute;
  left: 0;
  bottom: -30px;
}

@media screen and (max-width: 860px) {
  .footer__phone {
    position: initial;
    margin: 40px 0;
  }
}

@media screen and (max-width: 860px) {
  .footer__links {
    margin-top: 50px;
  }
}

@media screen and (max-width: 860px) {
  .devsite img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 30px;
  }
}
