doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content='width=device-width')
        title Русская печь
        link( rel="stylesheet" type="text/css" href="libs/slick/slick.css")
        link( rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css")
        link(rel="stylesheet" type="text/css" href="libs/owlcarousel/assets/owl.carousel.css")
        link(rel="stylesheet" type="text/css" href="libs/owlcarousel/assets/owl.theme.default.min.css")
        link(rel='stylesheet' type="text/css" href='css/main.css')

    body
        include sections/header
        include sections/services
        include sections/hero
        include sections/works
        include sections/call
        include sections/comments
        include sections/footer

        script( type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js")
        script( type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript" src = " https://code.jquery.com/jquery-3.4.1.min.js ")
        script( type="text/javascript" src="libs/slick/slick.min.js")
        script( src="libs/owlcarousel/owl.carousel.min.js")
        script(type='text/javascript' src='js/main.min.js')

