html
  font-size: 16px
body
  font-family: $ff-main
button
  outline: none
textarea
  outline: none


.container
  max-width: 1170px
  margin: 0 auto
  +size-lg(12)
a
  color: inherit
  text-decoration: none

img
  vertical-align: middle