@font-face
  font-family: 'italic'
  src: url('../fonts/GothamPro/GothamPro-Italic.eot?#iefix') format("embedded-opentype"),
  url('../fonts/GothamPro/GothamPro-Italic.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Italic.otf') format('otf')

@font-face
  font-family: 'medium'
  src: url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format("embedded-opentype"),
  url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Medium.otf') format('otf')


@font-face
  font-family: "black"
  src: url("../fonts/GothamPro/GothamPro-Black?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"),
  url("../fonts/GothamPro/GothamPro-Black.otf") format("otf")



@font-face
  font-family: 'regular'
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro/GothamPro.woff") format("woff"),
  url("../fonts/GothamPro/GothamPro.otf") format("otf")

