section.call
    .container
        .title.call__title Заказать звонок
        .call__wrap
            form(class='call__form' action='#')
                input(class='call__text' name='name' type='text' placeholder='Имя')
                input(class='call__text' name='phone' type='text' placeholder='Телефон')
                button(class='call__submit' type='button') Заказать работу
                br
                .call__box
                    input(id='call__privacy' class='call__privacy'  type='checkbox' value='a1')
                    label(for='call__privacy') Я согласен(а) на обработку моих персональных данных.

