section.comments
    .container
        .title.comments__title Отзывы

        .comments__list.owl-carousel
            -for (var i=1; i<=6; i++) {
            .comments__item
                img(src='img/comments1.jpg' alt='img')
                .comments__description
                    h5 Мария Иванова
                    br
                    span Русская печь
                    p.comments__text Lorem ipsum dolor sit amet, consectetur adipisicng elit. Aliquid, architecto                    beatae distinctio doloribus dolorum eum expedita, illo molestiae nam quae quia quidem reiciendis sapiente. Aspernatur at blanditiis deserunt dolorem doloremque eos eum ex, ipsa iste iure labore molestiae nesciunt officia perspiciatis, porro possimus qui quos ratione rem repudiandae sequi suscipit!

            -}

