-var linkItems = ['vk','instagram', 'odnoklassniki-square']
-var linkUrls = ['vk.com','instagram.com', 'ok.ru']
footer.footer
    .footer__border
    .container
        .footer__top
            .logo.footer__logo
                img(src='img/logo_footer.png' alt='img')
                span Опытные
                    br
                    |печники
            .footer__phone +7 (927) 247-14-14
            .footer__nav
                include nav

        .footer__bottom
            .footer__left
                .devsite
                    a(href='#') Создание и продвижение сайтов
                        img(src='img/devsite.png' alt='img')
            //.footer__right
                //ul.footer__list
                //  li.footer__item
                //    a(href='#') Отопительные печи
                //  li.footer__item
                //    a(href='#') Барбекю
                //  li.footer__item
                //    a(href='#') Камины
                //  li.footer__item
                //    a(href='#') Банные печи
                //  li.footer__item
                //    a(href='#') Строительство беседок
                //  li.footer__item
                //    a(href='#') Прочистка труб

            .footer__links
                    each item, key in linkUrls
                        a(href='https://'+ item target = 'blank' class='footer__link')
                            i(class='fab fa-' +  linkItems[key] class='footer__icon')
