header.header
    .container
        .header__top
            .header__logo
                //img(src='img/logo.png')
                |Опытные
                br
                |печники
                span г.Казань
            .header__nav
                include nav
                .header__nav-icon
            .header__phone
                .header__phone-icon
                span +7 (927) 247-14-14
        .header__bottom
            .title.header__title
                h1.title__head Строим печи и камины с уникальным дизайном
                .title__text Более 11 лет строим элитные печи в Татарстате, Башкиртостане, Москве
                .buffer
            .header__slider
                .slider__container
                    .slider__item
                        img(src='img/header1.jpg' alt='img')
                    .slider__item
                        img(src='img/header1.jpg' alt='img')
                    .slider__item
                        img(src='img/header1.jpg' alt='img')
                    .slider__item
                        img(src='img/header1.jpg' alt='img')
                .arrow
                .dots
                        //.arrow__left
                        //    i(class="fas fa-chevron-left")
                        //.arrow__right
                        //    i( class="fas fa-chevron-right")
                button.header__button Заказать работу







