section.hero
    .container
        .hero__top

            .hero__pic
                img(src='img/promo.jpg' alt='img')
            .hero__content
                h3.hero__title.title Сделайте свой дом уникальным
                p Я и мои мастера строим печи любого размера и под любую планировку здания. Мы создаем уникальный дизайн с учетом ваших предложений, в гармонии с обстановкой. Наши печи и камины становятся сердцем интерьера, центром уюта в доме.
                .hero__author Минниев Айнур
                    br
                    span Основатель компании
        .hero__capabilities
            .hero__list.owl-carousel
                .hero__item
                    .hero__wrap
                        .hero__img
                            img(src='img/capabilities1.jpg' alt='img')
                        .hero__article
                            h3 Уникальный дизайн для каждого клиента
                            p Мы оцениваем интерьер дома и пожелания клиента и создаем уникальный дизайн печи,которая будет гармонично смотреться в вашем доме.
                        .hero__icon-wrap
                            .icon.icon1
                                .icon__text
                                    .icon__number 11
                                    br
                                    span Более 11лет
                .hero__item
                    .hero__wrap
                        .hero__img
                            img(src='img/capabilities2.jpg' alt='img')
                        .hero__article
                            h3 Лучшие материалы и технологии
                            p За годы работы мы отобрали для себя лучшее оборудование и стройматериалы.Используем  шамотный кирпич ручкнойобработки из чистой глины, без токсичных добавок.
                        .hero__icon-wrap
                            .icon.icon2
                                .icon__text
                                    .icon__number 65
                                    br
                                    span Построенных печей, каминов, барбекю
                .hero__item
                    .hero__wrap
                        .hero__img
                            img(src='img/capabilities3.jpg' alt='img')
                        .hero__article
                            h3 Работаем по России и за границей
                            p Мы начинали работать в Татарстане и наши работы быстро привлекли клиентов из другихчастей России. Сегодня мы выполняем заказыи для стран СНГ.
                        .hero__icon-wrap
                            .icon.icon3
                                .icon__text
                                    .icon__number 11
                                    br
                                    span Мастеров, которые знают толк в своем деле

