section.works
    .container
        .title.works__title Наши работы
        .works__content
            .works__left
                .project__list
                    .project__item
                        img(class='project__pic' src='img/project.jpg' alt='img')
                    .project__item
                        img(class='project__pic' src='img/project.jpg' alt='img')
                    .project__item
                        img(class='project__pic' src='img/project.jpg' alt='img')
                    .project__item
                        img(class='project__pic' src='img/project.jpg' alt='img')
                .arrows
                    //button.project__arrow.project__prev Предыдущий
                    //    br
                    //    |проект
                    //    i(class="fas fa-chevron-left")
                    //button.project__arrow.project__next Следующий
                    //    br
                    //    | проект
                    //    i( class="fas fa-chevron-right")
                a(href='#' class='proposal') Хочу такую печь
            .price
                ul.price__list
                    li.price__item
                        .price__title
                            .price__head Русская печка
                            .price__description О проекте
                        ul.estimate
                            li.estimate__item Материал----------------------------- Камень
                            li.estimate__item Время выполнения---------------- 2 месяца
                            li.estimate__item Цена-------------------------- 200 000 рулей
